spring:
  application:
    name: ogc-features
  jackson.default-property-inclusion: non-empty

springdoc:
  # see https://springdoc.org/#how-can-i-disable-springdoc-openapi-cache
  cache.disabled: true
  api-docs:
    enabled: true
    #path: ${openapi.geoServerACL.base-path}/api-docs
  swagger-ui:
    enabled: true
    #path: ${openapi.geoServerACL.base-path}/swagger-ui.html
    try-it-out-enabled: true    

logging:
  level:
    root: info
    com.zaxxer.hikari.pool.HikariPool: OFF

---
spring:
  config.activate.on-profile: postgis
  datasource:
    url: jdbc:postgresql://${postgres.host:localhost}:${postgres.port:5432}/${postgres.db:postgis}
    username: ${postgres.user:postgis} 
    password: ${postgres.password:postgis}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: ${postgres.pool.maxsize:20}
      minimum-idle: ${postgres.pool.minsize:0}

