name: Java CI with Maven

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      with:
        version: latest

    - name: Build with Maven
      run: ./mvnw verify --file pom.xml -ntp

    - name: Build a docker image
      run: ./mvnw clean package -Pdocker -ntp

    - name: "Resolve docker image tag"
      id: version
      run: echo ::set-output name=VERSION::$(./mvnw -f src/services/ogc-features/ help:evaluate -q -DforceStdout -Dexpression=project.version -ntp)

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: push the docker image
      run: |
        docker push camptocamp/opendata-ogc-features:${{ steps.version.outputs.VERSION }}
        docker push camptocamp/opendata-ogc-features:latest

    - name: "Remove SNAPSHOT jars from repository"
      run: |
        find .m2/repository -name "*SNAPSHOT*" -type d | xargs rm -rf {}

